on:
  release:
    types: [published]

permissions:
  contents: read  

jobs:
  push-multiarch:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Container Registry
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.docker_username }}
        password: ${{ secrets.docker_password }}

    - name: Build container image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: rancher/hardened-kubernetes:${{ github.event.release.tag_name }}
        file: Dockerfile
        platforms: linux/amd64, linux/arm64